<footer>
    <div class="footer">
        <div class="footer-text">
            <div class="footer-brandname">Ana Ramírez Montoya</div>
            
            <div class="footer-email"><a href="mailto: anna97rmz@gmail.com"   target="_blank">anna97rmz@gmail.com</a></div>
            
        </div>
        <div class="icons">
            <div><a href="https://www.instagram.com/nana.azure/" target="_blank"><img class="icons-img instagram" src="./images/icono_instagram.png"/></a></div>
            <div><a href="https://www.pinterest.com/pinterest/" target="_blank"><img class="icons-img youtube" src="./images/icono_youtube.png"/></a></div>
        </div>
        <div class="footer-ending">
            <div class="legal">© 2023 ANRAMO</div>
            <div class="siteby">Syte by Alejandro Peralta</div>
        </div>
    </div>
    <script src="/js/app.js" type="module"></script>
</footer>
