<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ANRAMO Cerámica</title>
        <meta name="description" content="Piezas de cerámica dieñadas a la medida">
        <link rel="icon" href="/images/logosolo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@0;1&family=Taviraj:ital@0;1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/style.css">
        
    </head>
    <header>
        <div class="menu-container">
            <div class="logo-div">
                <a href="/" class="logo-link">
                    <img src="/images/logosolo.png" class="menu-logo" >
                </a>
                <!-- <div class="logo-name">Ana RM</div> -->
            </div>
            
            <navbar class="div-menu-options" id="topnav">
                <div class="dropdown-coleccion" data-dropdown>
                    <button class="Galeria button-animated" data-dropdown-button>COLECCIONES</button>
                    <div class="colecciones-menu">
                        <div class="colecciones-options">
                            <div class="coleccion-1" id="azure"><a href="/Colba">Azure breeze</a></div>
                            <div class="coleccion-2" id="suncream"><a href="/Solstego">Suncream</a></div>
                            <button class="back-button" onclick="backtoMenu()">Back <</button>
                            <script>
                                function backtoMenu(){
                                    const menuButtons = document.getElementsByClassName("button-animated");
                                    const dropdown = document.getElementsByClassName("dropdown-coleccion")[0];
                                    dropdown.className = "dropdown-coleccion"
                                    menuButtons[0].classList.remove('menu-mobile')
                                    menuButtons[1].classList.remove('menu-mobile')
                                    menuButtons[2].classList.remove('menu-mobile')
                                    menuButtons[3].classList.remove('menu-mobile')
                                }
                            </script>
                        </div>
                        <div class="colecciones-image">
                            <div class="coleccion-image" id="coleccion-image"></div>
                        </div>
                    </div>
                    <button class="Cursos button-animated">TIENDA</button>
                    <button class="Contacto button-animated">CONTACTO</button>
                    <button class="Contacto button-animated">CARRITO</button>
                </div>
                <button class="icon-menu button-animated" onclick="responsiveMenu()"><i class="fa fa-bars"></i></button>
                <script>
                    function responsiveMenu(){
                        const menu = document.getElementById("topnav");
                        const dropdown = document.getElementsByClassName("dropdown-coleccion")[0];
                        const menuButtons = document.getElementsByClassName("button-animated");
                        const elementTop = menu.getBoundingClientRect().top;
                        if (menu.className === "div-menu-options") {
                            menu.className += " responsive";
                            menu.style.top = -1*elementTop+'px';
                        } else if (menu.classList.contains('responsive') && dropdown.classList.contains('isactive')) {
                            dropdown.classList.remove('isactive');
                            menuButtons[0].classList.remove('menu-mobile')
                            menuButtons[1].classList.remove('menu-mobile')
                            menuButtons[2].classList.remove('menu-mobile')
                            menuButtons[3].classList.remove('menu-mobile')
                        }
                        else{
                            menu.className = "div-menu-options";
                        }
                    }
                </script>
            </navbar>
            
        </div>
    