/*JS Classes*/
:root {
    --bg-translate: 0;
  }

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}

/* Header CSS */
body{
    max-width: 100%;
    box-sizing: 0;
    padding: 0;
    margin: 0;
    background-color: rgb(236, 230, 230);
}

header{
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.menu-container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.logo-div{
    z-index: 3;
}

.menu-container .logo-link{
    color: transparent;
    text-decoration: none;
    z-index: 2;
}


.menu-container .menu-logo{
    height: 90px;
    width: 90px;
    margin-top: 0em;
    background: url("./images/logoo.svg");
    background-size: cover;
    word-break: break-all;
    color: transparent;
    z-index: 2;
    -webkit-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.15s both;
    animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.15s both;
    -moz-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.15s both;
    -o-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.15s both;
}


.menu-container .div-menu-options{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content:right;

}

.menu-container .div-menu-options button:not(:last-child){
    margin: 1em 1.7em;
    height: 35%;
}

.dropdown-coleccion{
    
    width: 100%;
    height: 100%;
}

.dropdown-coleccion .galeria{
    z-index: 2;
}


.dropdown-coleccion .Galeria:focus{
    background-color: rgb(116, 156, 155);
    border-radius: 8px;
}

.colecciones-menu{
    position: absolute;
    
    top: -0px;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #111111;
    display: flex;
    
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.dropdown-coleccion .Galeria:focus + .colecciones-menu{
    opacity: 1;
}


.colecciones-options{
    background-color: #d29b96;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colecciones-options div{
    margin: 20px 0;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
    font-weight: lighter;
    letter-spacing: 1px;
    cursor: pointer;
}


.colecciones-options div a{
    text-decoration: none;
    color: #111111;
}

.colecciones-options div a:hover{
    color: #fff;
}

.colecciones-image{
    background: #ffffffc6;
    width: 50%;
    z-index:0;
    display: flex;
}

.coleccion-image{
    width: 70%;
    height: 70%;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 36px;
    background: url("./images/azureBreeze.jpg");
    background-size: cover;
}

.menu-container .div-menu-options button{
    position:relative;
    text-decoration: none;
    background: transparent;
    border: none;
    opacity: 0.75;
    font-family: 'DM Serif Display', serif;
    font-weight:lighter;
    z-index: 2;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    color: white;
    -webkit-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s backwards;
    animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s backwards;
    -moz-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s backwards;
    -o-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s backwards;
}

.Galeria, .Contacto, .Cursos{
    color: white;
}

.menu-container .div-menu-options .Galeria::after,
.menu-container .div-menu-options .Contacto::after,
.menu-container .div-menu-options .Cursos::after{
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0em;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    transform-origin: 0;
    transform: scaleX(0);
    background: transparent;
    transition: 0.5s;
}

.menu-container .div-menu-options .Galeria::after{
    width: 100%;
}

.menu-container .div-menu-options .Galeria:hover:after{
    background:rgb(250, 244, 244);
    transform: scaleX(1);

}

.menu-container .div-menu-options .Cursos:hover:after{
    background:rgb(250, 244, 244);
    transform: scaleX(1);

}

.menu-container .div-menu-options .Contacto:hover:after{
    background:rgb(250, 244, 244);
    transform: scaleX(1);

}

.div-menu-options .icon-menu{
    display: none;
}


.brandName{
    position: absolute;
    height: 15%;
    max-width: 70%;
    min-width: 70%;
    top: 0;
    bottom: 0;

    margin: auto 15%;
    text-align: center;


    color: rgb(22, 14, 14);
    font-size:4.5rem;
    letter-spacing: 0.6rem;
    cursor: default;
    font-family: 'DM Serif Display', serif;
    animation: fade-in-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
    -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
}

.bg-container{
    height: 100%;
    width: 100%;
    display: flex;
}

.background-1, .background-2{
    padding: 0%;
    margin: 0%;
    
    flex-grow: 1;
    background: scroll url("./images/main.jpg") center 60% no-repeat;
    background-size: 200%;
    
    
    opacity: 0;
    z-index: -1;
    
}

.background-1{
    animation: bg-1-fs 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
        -moz-animation: bg-1-fs 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
        -webkit-animation: bg-1-fs 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
}

.background-2{
    animation: bg-2-fs 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
        -moz-animation: bg-2-fs 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
        -webkit-animation: bg-2-fs 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
}

@keyframes bg-1-fs{
    0%{
    
        background-position: left var(--bg-translate) top 0%;
        opacity: 0;
    }

    50%{
    
        background-position: left var(--bg-translate) top 30%;
        opacity: 0.2;
    }

    100%{
    
        background-position: left var(--bg-translate) top 60%;
        opacity: 0.7;
    }

}

@keyframes bg-2-fs{
    0%{
    
        background-position: right var(--bg-translate) top 120%;
        opacity: 0;
    }

    50%{
    
        background-position: right var(--bg-translate) top 90%;
        opacity: 0.2;
    }

    100%{
    
        background-position: right var(--bg-translate) top 60%;
        opacity: 0.8;
    }

}



.small-ratio{
    background-size: cover;
    
}


@-webkit-keyframes fade-in-bck {
0% {
    -webkit-transform: perspective(200px) translateZ(80px);
            transform: perspective(200px) translateZ(80px);
            -moz-transform: perspective(200px) translateZ(80px);

    opacity: 0;
}
100% {
    -webkit-transform: perspective(100px) translateZ(0);
            transform:perspective(100px) translateZ(0);
            -moz-transform: perspective(100px) translateZ(0px);
    opacity: 0.75;
}
}
@keyframes fade-in-bck {
0% {
    -webkit-transform: perspective(200px) translateZ(80px);
            transform: perspective(200px) translateZ(80px);
            -moz-transform: perspective(200px) translateZ(80px);
            

    opacity: 0;
}
100% {
    -webkit-transform: perspective(100px) translateZ(0);
            transform:  perspective(100px) translateZ(0);
            -moz-transform: perspective(100px) translateZ(0px);
    opacity: 0.75;
}
}

@-moz-keyframes fade-in-bck{
    0% {
        -webkit-transform: perspective(200px) translateZ(80px);
                transform: perspective(200px) translateZ(80px);
                -moz-transform:  perspective(200px) translateZ(80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: perspective(100px) translateZ(0);
                transform: perspective(100px) translateZ(0);
                -moz-transform: perspective(100px) translateZ(0px);
        opacity: 0.75;
    }
}


@keyframes navElements {
    0% {
        -webkit-transform: perspective(200px) translateZ(80px);
                transform: perspective(200px) translateZ(80px);
                -moz-transform: perspective(200px) (80px);
        opacity: 0;
        color: white;
    }
    100% {
        -webkit-transform: perspective(100px) translateZ(0);
                transform:  perspective(100px) translateZ(0);
                -moz-transform: perspective(100px) translateZ(0px);
        opacity: 0.75;
        color: rgb(241, 235, 235);
    }
}

/* Header completed  */

.transition {
	height: 70vh;
    max-width: 100%;
    background: url("") no-repeat 40% center;
    background-image: none;
    display: grid;
    align-items: center;
    justify-items:baseline;
}

.SVG{
    position: absolute;
    height: 100%;
    z-index: -1;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-left: -150px;
}

.transition-text{
    /* font-family: 'Lora', serif; */
    font-family: 'DM Serif Display', serif;
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding:0 2em;
    margin-left: 15%;
}

.first-line{
    margin-bottom: -2em;
}

.third-line{
    margin-top: -2em;
}


.mini-gallery{
    position: relative;
    height: 110%;
    width: 100%;
    
}

.contactanos{
    height: 100%;
}

.hook{
    position: relative;
    top: 25%;
    padding-bottom: 15px;
    width: 60%;
    max-height: 80px;
    margin-left: 24%;
    margin-right: 16%;
    font-size: 4.5rem;
    font-style: italic;
}

.bg-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8;
}

/*INPUT*/

.form__group {
  position: relative;
  margin: auto;
  align-self: center;
  justify-self: center;
  padding: 15px;
  top: 50%;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder{
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label{
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #d29b96;
    font-weight:700;    
  }

.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #d29b96 30%,#925854);
  border-image-slice: 1;
}
/* reset input */
.form__field:required, .form__field:invalid{
  box-shadow:none;
}

/*BOTON*/

#button-wrapper {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:5px;
    color:white;
    width:100%;
    height: 100px;
    position: absolute;
    top: calc(80% - 60px);
    left: 0;
    padding:20px 0px;
    overflow: visible;
}
  
.submit, .loader, .loader-wrapper{
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
}
  
.submit {
    z-index:2;
    width:135px;
    height:50px; /*Alto del boton*/
    background: linear-gradient(to right, #C1B8B9 0%,#BBA7A0 100%); 
    display:block;
    border-radius:200px;
    text-align:center;
    color:rgba(255,255,255,1);
    text-decoration:none;
    line-height:330%;    /*Altura de text*/
    transition: all 0.7s ease, line-height 0s ease, color 0.4s ease, filter 0.2s ease;
}
  
#button-wrapper::selection, .submit::selection {
    background: transparent;
}
  
  
.submit:after {
    content:"";
    z-index:-4;
    width:100%;
    height:100%;
    background: linear-gradient(to right, #C1B8B9 0%,#BBA7A0 100%); 
    display:block;
    border-radius:200px;
    position:absolute;
    left:0;
    top:0;
    opacity:0;
    transform:scale(0.8);
  }
  
  .submit:hover:before {
    transform:scale(0.9) translateY(5px);
    filter:blur(15px);
  }
  
  .submit:active {
    line-height:460%;
    filter:brightness(0.95);
    transition:all 0s;
  }
  

  
  .checked .submit:after {
      animation: submit-after-anim 0.5s 4.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  
  .checked {
     -webkit-filter: url("#goo");
     filter: url("#goo");
  }
  
  .yellow {
    background-color: #968277;
  }
  
  .pink {
    background-color: #846D5D;
    }
  
  .orange {
    top: -10px;
    background-color: #523E37;
    transform:scale(0.2) rotate(30deg) translate(0px);
  }
  
  .checked .pink {
    animation: loader-anim-pink 4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .checked .yellow  {
    animation: loader-anim-yellow 4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .checked .orange {
     animation: loader-anim-orange 4s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .loader {
    width:95px;
    height:95px;
    border-radius:50%;
    opacity:0;
    z-index:1;
  }
  
  .checked .loader {
    opacity:1;
  }
  
  .checked .loader-wrapper {
    animation: wrapper-loader-anim 4.2s linear;
    width:95px;
    height:95px;
    transform:scale(0)
  }
  
  .checked .submit {
    width:95px;
    color:rgba(255,255,255,0);
    background: linear-gradient(to right, #C1B8B9 0%,#BBA7A0 100%); 
    animation: submit-anim 4s  cubic-bezier(0.39, 0.575, 0.565, 1);
    }
  
  
  .check-wrapper {
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
    width:95px;
    height:95px;
    z-index:-1;
    opacity:1;
  }
  
  .check-wrapper svg {
    margin-top: 8px; /*Altura del svg check*/
    margin-left: 16px;
    transform: scale(0.5);
  }
  
  .check{fill:none;
    stroke:#ffffff;
    stroke-width:10;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
   stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    z-index:-1;
    }
  
  .checked .check-wrapper {
    z-index:3;
  }
  
  .checked .check {
    animation: check 4s 4.4s ease forwards;
  }
  
  
  @keyframes loader-anim-pink {
      0% {transform:scale(0.2) rotate(0deg) translate(220px, 0px); }
    100% {transform:scale(0.2) rotate(1100deg) translate(300px, 0px);}
  }
  
  @keyframes loader-anim-yellow {
       0% {transform:scale(0.2) rotate(0deg) translate(300px, 0px); }
    100% {transform:scale(0.2) rotate(1100deg) translate(220px, 0px);}
  }
  
  @keyframes loader-anim-orange {
    0%,70% {transform:scale(0.2) rotate(30deg) translate(0px); }
    85% {transform:scale(0.2) rotate(30deg) translate(-700px);}
    100% {transform:scale(0.2) rotate(30deg) translate(0px); }
  }
  
  @keyframes wrapper-loader-anim {
      0% {transform:scale(0) translateY(0px) }
      10% {transform:scale(1) translateY(-20px)}
    50% {transform:scale(1.2) translateY(-30px) }
    90% {transform:scale(1) translateY(-10px)}
    100% {transform:scale(0) translateY(0px)}
  }
  
  @keyframes submit-after-anim {
    0% {transform:scale(1); opacity:0.3 }
     100% {transform:scale(2); opacity:0 }
  }
  
  @keyframes submit-anim {
      0% {transform:scale(1) }
        5%, 95% {transform:scale(0.9) }
    100% {transform:scale(1)}
  }
  
  @keyframes check {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  

/* Body Completed*/


.footer{
    height: 45vh;
    display: flex;
    background: url("./images/ave.svg");
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    overflow: hidden;
}

.footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-brandname{
    font-family: 'DM Serif Display', serif;
    color: rgb(234, 223, 223);
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    padding-top: 1em;
    cursor: default;
}

.footer-email{
    cursor: pointer;
    letter-spacing: 1px;
    padding-top: 1em;
    
}

.footer-email a{
    color: rgb(234, 223, 223);
    text-decoration: none;
    transition: 0.3s;
}


.footer-email a:hover{
    color: rgb(255, 255, 255);
}


.icons{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 2em;
    
}

.icons div{
    width: 50px;
    height: 50px;
}


.icons-img{
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    
    -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.instagram{
    margin-left: 280%;
}

.youtube{
    margin-left: -300%;
}

.icons-img:hover{
    transform: scale(1);
}


.footer-ending{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-evenly;
    font-family: 'DM Serif Display', serif;
    font-size: 0.9rem;
    margin-top: -1em;
}

.siteby{
    margin-right: 7em;
}

.legal{
    margin-left: 10em
}

.legal, .siteby{
    color: rgb(234, 223, 223);
    font-style: italic;
    padding-bottom: 20px;
}



@media screen and (min-width: 600px) and (max-width: 1024px){
    

    .menu-container .menu-logo{
        height: 65px;
        width: 65px;
    }

    .icon-menu i{
        transform: scale(1.4);
    }

    button.icon-menu{
        max-height: 30px;
            margin-right: 10px;
            top: 8px;
    }

    .div-menu-options button{
        display: none;
        margin-top: 0em;
    }


    .div-menu-options button.icon-menu{
        position:fixed;
        display: block;
        z-index: 1;
    }

    
    .div-menu-options.responsive{
        position: fixed;
        float: right;
        right: 0;
        display: inline;
        background: rgba(186, 127, 97, 0.7);
        border-radius: 8px;
        z-index: 1;
    }


    .div-menu-options.responsive button{
        display: block;
        text-align: left;
        color: white;
        font-size: 1.2rem;
        letter-spacing: 1px;
        padding: 0.2rem;
    }

    .div-menu-options.responsive button:first-child{
        margin-top: 45px;
    }

    .div-menu-options.responsive button.icon-menu{
        right: 0%;
    }


    .menu-container .div-menu-options .Contacto::after,
    .menu-container .div-menu-options .Cursos::after,
    .menu-container .div-menu-options .Galeria::after{
        width: 92%;
        margin-left: 5px;
    }

    .brandName{
        min-width: 80%;
        max-width: 80%;
        margin: auto 10%;
        top: 5%;
        font-size: 2.9rem;
        
    }

    .hook{
        top: 31%;
        padding-bottom: 0;
        font-size: 3rem;
        font-style: italic;
    }
    
    .transition-text{
        font-size: 2.5rem;
    }

    .footer-text{
        padding-top: 2em;
    }

    .icons{
        margin-top: 0.4em;
    }

    .instagram{
        margin-left: 100%;
    }
    
    .youtube{
        margin-left: -100%;
    }
}



@media screen and (max-width: 600px) {

    .menu-container .menu-logo{
        width: 40px;
        height: 40px;
    }
    
    .icon-menu i{
        transform: scale(1.1);
    }

    button.icon-menu{
        margin-right: 10px;
        top: 8px;
    }

    .div-menu-options button{
        display: none;
        margin-top: 0em;
    }

    .div-menu-options button.icon-menu{
        position:fixed;
        display: block;
    }

    
    .div-menu-options.responsive{
        position: fixed;
        float: right;
        right: 0;
        display: inline;
        background: rgba(186, 127, 97, 0.7);
        border-radius: 8px;
        z-index: 1;
    }

    .div-menu-options.responsive button:first-child{
        margin-top: 27px;
    }

    .div-menu-options.responsive button{
        display: block;
        text-align: left;
        color: white;
        font-size: 0.8rem;
        letter-spacing: 1px;
        padding: 0.2rem;
    }

    .div-menu-options.responsive button.icon-menu{
        right: 0%;
    }


    .menu-container .div-menu-options .Contacto::after,
    .menu-container .div-menu-options .Cursos::after,
    .menu-container .div-menu-options .Galeria::after{
        width: 91%;
        height: 1px;
        margin-left: 0.3em;
        bottom: 4px;
    }

    .menu-container .div-menu-options .Cursos::after{
        width: 85%;
    }
   
    
    .brandName{
        top: 10%;
        letter-spacing: 0.1rem;
        font-size: 2rem;
    }

    .background-1{
        animation: bg-1-sz 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
            -moz-animation: bg-1-sz 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
            -webkit-animation: bg-1-sz 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
    }
    
    .background-2{
        animation: bg-2-sz 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
            -moz-animation: bg-2-sz 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
            -webkit-animation: bg-2-sz 3s cubic-bezier(0.015, 0.82, 0.65, 1) 0.6s forwards;
    }
    
    .transition-text{
        font-size: 1.2rem;
        font-weight: 100;
        padding-left: 2em;
    }

    .first-line{
        margin-bottom: -3.2em;
    }
    
    .third-line{
        margin-top: -3em;
    }

    .SVG{
        margin-left: -4em;
    }

    .hook{
        top: 28%;
        padding-bottom: 0;
        font-size: 1.2rem;
        font-style: italic;
    }

    .form__group {
        top: 36%;
        width: 50%;
    }


    .form__field {
        font-size: 0.8rem;
    }

    .form__field:placeholder-shown ~ .form__label{
        font-size: 1rem;
    }


    #button-wrapper {
        top: calc(69% - 60px);
        font-size:12px;
        letter-spacing:2px;
    }

    .submit {
        width:75px;
        height:30px; /*Alto del boton*/
        line-height:260%;    /*Altura de text*/
    }

    .loader {
        width:95px;
        height:95px;
    }

    .check-wrapper {
        width:75px;
        height:30px;
    }
      
    .check-wrapper svg {
        margin-top: -4px; /*Altura del svg check*/
        margin-left: 4px;
        transform: scale(0.3);
      }

    .footer{
        background-size: cover;
    }

    .footer-brandname{
        font-size: 1.2rem;
        letter-spacing: 0.3rem;
        padding-top: 0.4em;
    }
    
    .footer-email{

        padding-top: 0.3em;
        
    }
    
    .footer-email a{
        font-size: 0.8rem;
    }
    
    .icons{
        margin-top: 1em;
    }

    .icons-img:hover{
        transform: scale(0.65);
    }

    .icons-img{
        transform: scale(0.65);
    }

    .icons div{
        margin: 0 1em;
        margin-left: 32px;
    }

    .instagram{
        margin-left: 60%;
    }
    
    .youtube{
        margin-left: -60%;
    }

    .footer-ending{
        flex-direction: column;
    }


    .legal, .siteby{
        margin-left: 0;
        margin-right: 0;
        font-size: 0.6rem;
        font-weight: lighter;
        letter-spacing: 0.1em;
    }


    @keyframes bg-1-sz{
        0%{
        
            background-position: left 15.2% top 0%;
            opacity: 0;
        }
    
        50%{
        
            background-position: left 24.4% top 30%;
            opacity: 0.2;
        }
    
        100%{
        
            background-position: left 35.7% top 60%;
            opacity: 0.7;
        }
    
    }
    
    @keyframes bg-2-sz{
        0%{
        
            background-position: right 15.2% top 120%;
            opacity: 0;
        }
    
        50%{
        
            background-position: right 24.4% top 90%;
            opacity: 0.2;
        }
    
        100%{
        
            background-position: right 35.7% top 60%;
            opacity: 0.8;
        }
    
    }   
}