<%- include("partials/header.ejs") -%>
<link rel="stylesheet" href="/styles/colection.css">
</header>

<head>
    <script src="/js/solstego.js" type="module"></script>
</head>

<body>
    <div class="headeroffset">

    </div>
    <div class="solstego">
        <div class="container">
            <div class="carousel">
                <ul class="carousel__slides">
                    <li class="carousel__slide">
                        <figure>
                            <div id="suncreamDisplay">
                            </div>
                            <figcaption>
                            </figcaption>
                        </figure>
                    </li>
                </ul>    
                <ul class="carousel__thumbnails">
                    <li id="suncream1">
                        <label for="slide-1"><img src="/images/sucr/full_top.JPG" alt=""></label>
                    </li>
                    <li id="suncream2">
                        <label for="slide-2"><img src="/images/sucr/white_close.JPG" alt=""></label>
                    </li>
                    <li id="suncream3">
                        <label for="slide-3"><img src="/images/sucr/full.JPG" alt=""></label>
                    </li>
                    <li id="suncream4">
                        <label for="slide-4"><img src="/images/sucr/brown_side.jpg" alt=""></label>
                    </li>
                    <li id="suncream5">
                        <label for="slide-5"><img src="/images/sucr/blue_top.jpg" alt=""></label>
                    </li>
                    <li id="suncream6">
                        <label for="slide-6"><img src="/images/sucr/full_side.jpg" alt=""></label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="framed">
        <div class="title">CERÁMICA SOLAR</div>
        <div class="story">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
</body>



<%- include("partials/footer.ejs") -%>