* {
  box-sizing: border-box;
}

.cform{
  display: flex;
  flex-direction: column;
  top: 0;
  margin: 0;
  padding: 30px 0px 0px 10px;
  width: 60%;
  justify-items: center;
}

.cbackground{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    flex-grow: 1;
    padding: 4% 15%;
    align-items: center;
}

.ccontacto{
    width: 100%;
    background-color: #BBA7A0;
    margin: 20px 0px;
    border-radius: 7px 0px 0px 7px;
    display: flex;
    flex-direction: column;
    text-justify: distribute;
    height: 70vh;
}

.ctitle{
  padding: 20px 0px 0px 50px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.4em;
}

.ctext{
  padding: 40px 50px 0px 50px;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  text-align: justify;
  margin-bottom: 2px;
  max-width: 550px;
}

.cimage{
    width: 100%;
    height: 75vh;
    background-image: url("/images/contacto.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 7px;
    
}

.inp {
  position: relative;
  margin-left: 37px;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 30px;
}
.inp .label {
  position: absolute;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.inp input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(238, 195, 195, 0.4);
  box-shadow: inset 0 -1px 0 rgba(248, 146, 146, 0.4);
  color: #000;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(248, 146, 146, 0.4);
}
.inp input:not(:-moz-placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:-ms-input-placeholder) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.85);
}
.inp input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #473c3f;
}
.inp input:focus + .label {
  color: #473c3f;
  transform: translate3d(0, -1px, 0) scale(0.90);
}
.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

  .link {
    width: 7rem;
    height: 7rem;
    display: inline-block;
    font: 300 1.55rem/1.4 "Josefin Sans";
    text-transform: uppercase;
    letter-spacing: 0.1175em;
    word-spacing: 0.3em;
    text-decoration: none;
    background-color: #BBA7A0;
  }
  .link__svg {
    width: 100%;
    height: auto;
    transform-box: fill-box;
    fill: #2b3338;
    stroke: #2b3338;
    stroke-width: 0.05em;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .link__cloud {
    transform-origin: 50% 50%;
    -webkit-animation: rotate normal infinite 60s linear;
            animation: rotate normal infinite 60s linear;
    fill: rgba(255, 255, 255, 0.15);
  }
  .link__face, .link__arrow {
    transform-origin: 50% 50%;
    transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
  }
  .link:hover .link__face, .link:hover .link__arrow {
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  }
  .link__arrow {
    stroke-width: 0.075em;
  }
  .link__text {
    -webkit-animation: rotateReverse normal infinite 20s linear;
            animation: rotateReverse normal infinite 20s linear;
    transform-origin: 50% 50%;
  }
  .link:hover .link__text {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  .link--alt {
    font-size: 1.15rem;
    letter-spacing: 0;
    word-spacing: 0;
    padding: 0px 0px 0px 25px;
  }

button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
  
  @-webkit-keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rotateReverse {
    to {
      transform: rotate(-360deg);
    }
  }
  @keyframes rotateReverse {
    to {
      transform: rotate(-360deg);
    }
  }

@media screen and (min-width: 600px) and (max-width: 1150px){
  .ctitle {
    font-size: 1.8em;
    padding: 10px 0px 0px 50px;
  }
  .ctext{
    font-size: 0.8em;
    padding: 20px 20px 0px 50px;
    max-width: 350px;
  }

  .cform{
    width: 70%;
    padding: 10px 0px 0px 10px;
  }

  .inp{
    margin-left: 35px;
    margin-bottom: 8px;
  }

  .inp input{
    font-size: 11px;
    height: 30px;
  }

  .inp .label{
    font-size: 14px;
  }

  .link{
    height: auto;
  }

  .cimage{
    height: 45vh;
  }

  .ccontacto{
    height: 40vh;
  }

  .link{
    width: 4rem;
    margin-left: 5px;
  }

}

@media screen and (max-width: 665px) {
  .ctitle {
    font-size: 1em;
    padding: 10px 0px 0px 50px;
  }
  .ctext{
    display: none;
  }

  .cform{
    width: 70%;
    padding: 10px 0px 0px 10px;
  }

  .inp{
    width: 110%;
    margin-left: 35px;
    margin-bottom: 20px;
  }

  .inp input{
    font-size: 12px;
    height: 36px;
  }

  .inp .label{
    font-size: 10px;
  }

  .link{
    height: auto;
  }

  .cimage{
    display: none;
  }

  .ccontacto{
    height: 25vh;
    min-height: 12rem;
  }

  .link{
    width: 6.2rem;
  }

  .inp input:not(:placeholder-shown) + .label {
    transform: translate3d(0, 2px, 0) scale(0.75);
  }

}
