/*JS Classes*/
:root {
    --bg-translate: 0;
  }

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;

    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}

/* Header CSS */
body{
    max-width: 100%;
    box-sizing: 0;
    overflow-x: clip;
    padding: 0;
    margin: 0;
    background-color: rgb(236, 230, 230);
}

/* header{
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
} */

.menu-container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}


.logo-div{
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    -webkit-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.15s both;
    animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.15s both;
    -moz-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.15s both;
    -o-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.15s both;
}

.logo-name{
    color: #111111;
    font-size: large;
    margin-left: -28px;
}

.menu-container .logo-link{
    color: transparent;
    text-decoration: none;
    z-index: 2;
}


.menu-container .menu-logo{
    height: 60px;
    width: 60px;
    margin-left: 20px;
    background-size: cover;
    word-break: break-all;
    color: transparent;
    z-index: 2;
}


.menu-container .div-menu-options{
    display: flex;
    height: 100px;
    list-style: none;
    flex-direction: row;
    justify-content:right;
    align-items: center;
}

.menu-container .dropdown-coleccion button{
    margin: 1em 1.7em;
}

.dropdown-coleccion{ 
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}



.dropdown-coleccion.isactive .Galeria{
    background-color: rgb(104, 82, 81);
    border-radius: 8px;
}

.dropdown-coleccion:has(.isactive) body{
    overflow: hidden;
}

.colecciones-menu{
    position: absolute;
    top: -0px;
    left: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #111111;
    display: flex;

    opacity: 0;
    transition: all 0.8s ease-in-out;
}


.dropdown-coleccion.isactive .Galeria + .colecciones-menu{
    opacity: 1;
    pointer-events: auto;
}


.colecciones-options{
    background-color: rgb(234, 223, 223);
    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.colecciones-options div{
    margin: 0px 0;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    cursor: pointer;
}


.colecciones-options div a{
    text-decoration: none;
    color: #111111;
}

.colecciones-options div a:hover{
    color: #fff;
}

.colecciones-image{
    background-color: #3e3636;
    width: 50%;
    z-index:0;
    display: flex;
}

.coleccion-image{
    width: 70%;
    height: 70%;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 36px;
    background: url("/images/azureBreeze.jpg");
    background-size: cover;
}



.back-button{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px !important;
    color: #3e3636 !important;
    animation: none !important;
    transition: none !important;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    cursor: pointer;
}

.menu-container .div-menu-options .button-animated{
    position:relative;
    text-decoration: none;
    background: transparent;
    border: none;
    opacity: 0.75;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    color: white;
    -webkit-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s backwards;
    animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s backwards;
    -moz-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s backwards;
    -o-animation: navElements 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s backwards;
}


.menu-container .div-menu-options button a{
    text-decoration: none;
    color: white;
}


.Galeria, .Contacto, .Cursos{
    color: white;
}

.menu-container .div-menu-options .Galeria::after,
.menu-container .div-menu-options .Contacto::after,
.menu-container .div-menu-options .Cursos::after{
    content: "";
    position: absolute;
    height: 1.8px;
    bottom: -0.1em;
    left: -1px;
    right: 0;
    margin: 0 auto;
    width: 94%;
    transform-origin: 0;
    transform: scaleX(0);
    background: transparent;
    transition: 0.5s;
}

.menu-container .div-menu-options .Galeria:hover:after,
.menu-container .div-menu-options .Cursos:hover:after,
.menu-container .div-menu-options .Contacto:hover:after{
    background:rgb(250, 244, 244);
    transform: scaleX(1);

}

.div-menu-options .icon-menu{
    display: none;
}

.cart-btn{
    position: relative;
    cursor: pointer;
}

.cart-items{
    position: absolute;
    top: -8px;
    right: -8px;
    background: #523E37;
    padding: 0 5px;
    border-radius: 30%;
    color: #c3bcb9;
    opacity: 0.88;
}

.cart-overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: all 0.3 linear;
    background: rgba(218, 173, 130, 0.75);
    z-index: 2;
    visibility: hidden;
}

.cart{
    position: fixed;
    top:0;
    right: 0;
    width: 94.2%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231,226,221);
    padding: 1.5em;
    transition: all 0.3 linear;
    transform: translateX(100%);
}

.showCart{
    transform: translateX(0);
}

.transparentBcg{
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .cart{
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart{
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2{
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.cart-item{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img{
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.cart-item h4{
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.cart-item h5{
    margin: 0.5rem 0;
    letter-spacing: 0.1rem;
}

.item-amount{
    text-align: center;
}

.remove-item{
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down{
    color: #846D5D;
    cursor: pointer;
}

.cart-footer{
    margin: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.cart-footer h3{
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.banner-btn{
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    background: #523E37;
    color: #f6f6f6;
    border: 1px solid #523E37; 
    transition: all 0.3 linear;
    cursor: pointer;
}

.banner-btn:hover{
    background: transparent;
    color: #523E37;
}

.banner-btn-clear {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636 !important;
  cursor: pointer;
  display: inline-flex;
  font-family: 'DM Serif Display', serif;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  display: block !important;
  margin: auto;
  margin-top: auto;
  margin-top: 30px !important;
}

.banner-btn-clear:active {
  border-color: #4a4a4a;
  outline: 0;
}

.banner-btn-clear:focus {
  border-color: #485fc7;
  outline: 0;
}

.banner-btn-clear:hover {
  border-color: #b5b5b5;
}

.banner-btn-clear:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

@keyframes navElements {
    0% {
        -webkit-transform: perspective(120px) translateZ(20px);
                transform: perspective(120px) translateZ(20px);
                -moz-transform: perspective(120px) (20px);
        opacity: 0.2;
        color: white;
    }
    100% {
        -webkit-transform: perspective(100px) translateZ(0);
                transform:  perspective(100px) translateZ(0);
                -moz-transform: perspective(100px) translateZ(0px);
        opacity: 0.75;
        color: rgb(241, 235, 235);
    }
}


.footer{
    height: 45vh;
    display: flex;
    background: url("/images/ave.svg");
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    overflow: hidden;
}

.footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-brandname{
    font-family: 'DM Serif Display', serif;
    color: rgb(234, 223, 223);
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    padding-top: 1em;
    cursor: default;
}

.footer-email{
    cursor: pointer;
    letter-spacing: 1px;
    padding-top: 1em;
    
}

.footer-email a{
    color: rgb(193, 184, 184);
    text-decoration: none;
    font-family: 'Taviraj', serif;
    transition: 0.3s;
}


.footer-email a:hover{
    color: rgb(255, 255, 255);
}


.icons{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 2em;
    
}

.icons div{
    width: 50px;
    height: 50px;
}


.icons-img{
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    
    -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.instagram{
    margin-left: 280%;
}

.youtube{
    margin-left: -300%;
}

.icons-img:hover{
    transform: scale(1);
}


.footer-ending{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-evenly;
    font-family: 'DM Serif Display', serif;
    font-size: 0.9rem;
    margin-top: -1em;
}

.siteby{
    margin-right: 7em;
}

.legal{
    margin-left: 10em
}

.legal, .siteby{
    color: rgb(234, 223, 223);
    font-style: italic;
    padding-bottom: 20px;
}



@media screen and (min-width: 600px) and (max-width: 1024px){
    

    .menu-container .menu-logo{
        height: 65px;
        width: 65px;
    }

    .icon-menu i{
        transform: scale(1.4);
    }

    .dropdown-coleccion{ 
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .div-menu-options button{
        display: none;
        margin-top: 0em;
    }


    .div-menu-options button.icon-menu{
        position:fixed;
        display: block;
        right: 20px;
        top: 2px;
        max-height: 30px;
        margin-right: 10px;
    }

    
    .div-menu-options.responsive{
        position: absolute;
        top: auto;
        right: 0;
        display: inline;
        width: 100%;
        height: 100vh;
        background: rgba(186, 127, 97);
        z-index: 2;
    }

    .div-menu-options.responsive button{
        display: block;
        text-align: left;
        color: white;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
 
    .div-menu-options.responsive button.icon-menu{
        right: 20px;
        top: 42px;
        position: absolute;
    }

    .div-menu-options.responsive .button-animated{
        animation: none;
        opacity: 0.75;
    }

    .banner-btn{
        margin: auto;
        display: block !important;
    }

    .coleccion-image{
        width: 72%;
        height: 40%;
        border-radius: 8px;
        background-repeat: no-repeat;
    }


    .menu-mobile{
        display: none !important;
    }

    .menu-container .div-menu-options .Contacto::after,
    .menu-container .div-menu-options .Cursos::after,
    .menu-container .div-menu-options .Galeria::after{
        width: 92%;
        margin-left: 5px;
    }

    .footer-text{
        padding-top: 2em;
    }

    .icons{
        margin-top: 0.4em;
    }

    .instagram{
        margin-left: 100%;
    }
    
    .youtube{
        margin-left: -100%;
    }
}



@media screen and (max-width: 600px) {

    .menu-container .menu-logo{
        width: 40px;
        height: 40px;
    }
    
    .icon-menu i{
        position: absolute;
        top: -2px;
        right: 6px;
        transform: scale(1.8);
    }

    .dropdown-coleccion{ 
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    .colecciones-options div {
        font-size: 1.3rem;
        letter-spacing: 0px;
      }

    .back-button{
        display:block;
    }

    .div-menu-options button{
        display: none;
    }

    .div-menu-options button.icon-menu{
        position:fixed;
        display: block;
        right: 17px;
    }

    
    .div-menu-options.responsive{
        position: absolute;
        display: inline;
        width: 100%;
        height: 100vh;
        background: rgba(186, 127, 97);
        z-index: 2;
        margin: auto;
    }

    .div-menu-options.responsive .button-animated{
        animation: none;
        opacity: 0.75;
    }


    .div-menu-options.responsive button{
        display: block;
        text-align: left;
        color: white;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }

    .div-menu-options.responsive button.icon-menu{
        right: 17px;
        top: 49px;
        position: absolute;
    }

    .menu-container .div-menu-options .button-animated{
        font-size: 0.6rem;
    }

    .menu-container .dropdown-coleccion button{
        margin: 0.4rem;
    }

    .cart{
        padding: 0.8em;
    }

    .cart-item{
        margin: 1.5rem 0.4rem;
    }

    .cart h2, .cart h3, .cart h4, .cart h5{
        letter-spacing: 0.008rem;
    }

    .banner-btn{
        margin: auto;
        display: block !important;
    }

    .coleccion-image{
        width: 85%;
        height: 20%;
        border-radius: 10px;
        background-repeat: no-repeat;
    }


    .menu-mobile{
        display: none !important;
    }

    .menu-container .div-menu-options .Contacto::after,
    .menu-container .div-menu-options .Cursos::after,
    .menu-container .div-menu-options .Galeria::after{
        width: 91%;
        height: 1px;
        margin-left: 0.3em;
        bottom: -1px;
    }

    .menu-container .div-menu-options .Cursos::after{
        width: 85%;
    }
   
    .footer{
        background-size: cover;
    }

    .footer-brandname{
        font-size: 1.2rem;
        letter-spacing: 0.3rem;
        padding-top: 0.4em;
    }
    
    .footer-email{

        padding-top: 0.3em;
        
    }
    
    .footer-email a{
        font-size: 0.8rem;
    }
    
    .icons{
        margin-top: 1em;
    }

    .icons-img:hover{
        transform: scale(0.65);
    }

    .icons-img{
        transform: scale(0.65);
    }

    .icons div{
        margin: 0 1em;
        margin-left: 32px;
    }

    .instagram{
        margin-left: 60%;
    }
    
    .youtube{
        margin-left: -60%;
    }

    .footer-ending{
        flex-direction: column;
    }


    .legal, .siteby{
        margin-left: 0;
        margin-right: 0;
        font-size: 0.6rem;
        font-weight: lighter;
        letter-spacing: 0.1em;
    }

}

.headeroffset{
    display: block;
    width: 100%;
    height: 100px;
    background: #BBA7A0DD;
    box-shadow: inset 0px -2px #523E3725;
}